<% include ../partials/header.ejs %>

  <div id="contactList" class="container">
    <div class="row justify-content-center">
      <div class="card col-md-6 bg-box px-0">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img src="/images/jeff.jpg" class="contact-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="text-center">
              <h5 class="mb-0">Jeffrey Taylor</h5>
              <p>Owner/Creater</p>
              <a href="mailto:jeffmtaylor@jmtwebdevelopment.com">jeffmt@jmtwebdevelopment.com</a>
              <p class="pt-3 small">Or just use the facebook messenger plugin!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>