<% include ../partials/header.ejs %>
    
<div class="ui container segment">
        <div class="ui items">
            <div class="item">
              <div class="ui small image">
                <img src="images/jeff.jpg">
              </div>
              <div class="middle aligned content">
                <div class="header">Jeff Taylor</div>
                <div class="description">
                  <p>I am a former Blackhawk mechanic in the United States Army and now an eager student pursing a lifelong passion in Software Engineering. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus distinctio nam ducimus repellat sed vel voluptatibus itaque optio, adipisci velit voluptatem ipsa autem placeat hic alias, esse iste maxime reprehenderit.</p>
                </div>
              </div>
              <div class="extra">
                  <div class="ui right floated button">
                        <a class="tiny button" href="#">Contact me</a>
                  </div>
              </div>
            </div>
        </div>
    </div>


<% include ../partials/footer.ejs %>