<% include ../partials/header.ejs %>

  <div class="container-fluid justify-content-center">
        <ul class="list-unstyled">
          <li class="">
            <div id="deckContact" class="card mb-3">
              <div class="row align-items-center no-gutters">
                <div class="col-md-4">
                  <img src="/images/jeff.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Jeff Taylor</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary float-right">Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
  </div>

<% include ../partials/footer.ejs %>