<% include ../partials/header.ejs %>
<div class="container-fluid">
    <div class="jumbotron bg-transparent">
        <div class="container-fluid">
            <h1 class="display-4">Autocross Project</h1>
            <p class="lead">Lead Mechanic</p>
            <p class="mt-4"></p>
            <hr class="my-4">
        </div>
        <div class="container">
            <div class="container-fluid justify-content-center">
               <img src="../images/IMG_0427.jpg" class="details-img border-radius">
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>