<% include ../partials/header.ejs %>
<div class="container-fluid">
    <div class="jumbotron bg-transparent">
        <div class="container-fluid">
            <h1 class="display-4">Catia Drone Design</h1>
            <p class="lead">Lead Design Engineer with a 3 person group</p>
            <p class="mt-4">Demensioned and Modeled each part. Added features we thought would benefit the overall performance and implementation</p>
            <hr class="my-4">
        </div>
        <div class="container">
            <div class="container-fluid justify-content-center">
               <img src="../images/Drone_Strike_Poster.png" class="details-img border-radius">
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>