      <!-- Your customer chat code -->
    <div class="fb-customerchat"
        attribution=setup_tool
        page_id="2339550259646628"
        logged_in_greeting="Hi! How can I help you?"
        logged_out_greeting="Hi! How can I help you?">
    </div>
    <div id="closingBanner">
        <img id="closingBannerImg" src="/images/logos/JMTLOGO1.png">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/scripts/mainScript.js"></script>
</html>