<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>JMT</title>

</head>
<body>
  <div id="navbar" class="ui tabular menu">
        <a id="navLogo" class="active item dodgerLaserFont" href="/">JMT</a>
    <div class="right menu">
        <a class="item dodgerFont" >Projects</a>
        <a class="item dodgerFont" href="/contact">Contact</a>
    </div>
  </div>