<!DOCTYPE html>
<html lang="en">
<head>
  <title>JMT Web Development</title>
  
  <meta name="Description" content="JMT strives to provide professional web development as easy as possible for the client while delivering a product beyond expectations.">
  
  <meta property="og:image" content="/images/philipp-katzenberger-jVx8JaO2Ddc-unsplash.jpg">
	<meta property="og:url" content="https://www.jmtwebdevelopment.com">
	<meta property="og:description" content="JMT strives to provide professional web development as easy as possible for the client while delivering a product beyond expectations." > 
	<meta property="og:title" content="JMT Web Development">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans+Condensed:300|Play|Teko" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/logos/jmt.png">
  <script>
    var host = "www.jmtwebdevelopment.com";
    if ((host == window.location.host) && (window.location.protocol != "https:")){
    window.location.protocol = "https";
    }
  </script>
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        status           : true,
        version          : 'v3.3'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>

  <div id="wrapperOne">
    <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img id="hamlogo" src="/images/logos/JMTLOGO1-WHITE.png">
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item nav-btn">
                <a class="nav-link btn-sm" href="/">Home</a>
              </li>
              <li class="nav-item nav-btn">
                <a class="nav-link btn-sm" href="/about">About</a>
              </li>
            </ul>
            <img id="navlogo" class="navbar-brand" src="/images/logos/JMTLOGO1-WHITE.png">
            <ul class="navbar-nav">
              <li class="nav-item nav-btn">
                <a class="nav-link btn-sm" href="/services">Services</a>
              </li>
              <li class="nav-item nav-btn">
                <a class="nav-link btn-sm" href="/portfolio">Portfolio</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
