<% include ../partials/header.ejs %>

<div class="container-fluid">
    <div id="banner" class="container-fluid">
         <div class="jumbotron backgroundColor"> 
            <h1 class="dodgerItalicFont headerStyling">Web Development</h1>
            <h4 class="lead dodgerTitleFont subHeaderStyling">Made Easy</h4>
            <hr class="my-4">
            <p class="dodgerFont sloganStyling">The one stop shop for a responsive, professional, and asthetic website.</br>With none of the hassle.</p>
            <h6 class="dodgerItalicFont createrStyling">-Jeffrey Taylor</h6>
         </div>
    </div>
    <div id="deck" class="container-fluid ">
        <div class="card-deck d-flex justify-content-center">
            <div class="card backgroundColor">
                <div class="card-body cardTextStyles">
                    <h3 class="card-title text-center dodgerFont">Front End</h3>
                    <hr class="my-4">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card backgroundColor">
                <div class="card-body cardTextStyles">
                    <h3 class="card-title text-center dodgerFont">Front End</h3>
                    <hr class="my-4">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card backgroundColor">
                <div class="card-body cardTextStyles">
                    <h3 class="card-title text-center dodgerFont">Front End</h3>
                    <hr class="my-4">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
