<% include ../partials/header.ejs %>

<div id="banner" class="container text-center bg-transparent text-uppercase">
    <h4 class="headerStyling">Professional</h4>
    <h1 class="subHeaderStyling">Web Development</h1>
    <p class="sloganStyling">Get a responsive, professional, asthetic website.</br>With zero hassle.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card bg-transparent text-center">
            <div class="card-body cardTextStyles">
                <h3 class="card-title">Front End</h3>
                <hr class="my-4 dividerColor">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">Experienced with the most popular front end languages, and Frameworks.</p>
                        </li>
                        <li>
                            <p class="card-text">Languages including HTML, CSS, Javascript, Sass.</p>
                        </li>
                        <li>
                            <p class="card-text">Bootstrap, Semantic, jQuery, and React.js are some examples</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="card bg-transparent text-center">
            <div class="card-body cardTextStyles">
                <h3 class="card-title">UX / UI</h3>
                <hr class="my-4 dividerColor">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">The most popular front end languages, and Frameworks.</p>
                        </li>
                        <li>
                            <p class="card-text">Languages including HTMl, CSS, Javascript, Sass.</p>
                        </li>
                        <li>
                            <p class="card-text">Bootstrap, Semantic, jQuery, and React.js are some examples</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="card bg-transparent text-center">
            <div class="card-body cardTextStyles">
                <h3 class="card-title">Back End</h3>
                <hr class="my-4 dividerColor">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer.ejs %>
