<% include ../partials/header.ejs %>

    <div id="banner" class="container text-center bg-transparent text-uppercase">
        <h4 class="headerStyling">Professional</h4>
        <h1 class="subHeaderStyling">Web Development</h1>
        <p class="sloganStyling">Get a responsive, professional, asthetic website.</br>With zero hassle.</p>
    </div>
</div>
<div id="wrapperTwo">
    <div class="row justify-content-md-center">
        <div class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-r">
                <h3 class="card-title">Front End</h3>
                <hr class="my-4">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">Experienced with the most popular front end languages, and Frameworks.</p>
                        </li>
                        <li>
                            <p class="card-text">Languages including HTML, CSS, Javascript, Sass.</p>
                        </li>
                        <li>
                            <p class="card-text">Bootstrap, Semantic, jQuery, and React.js are some examples</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row centerY">
                <div class="col-md-3">
                    <img src="images/logomono-html5-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="images/logomono-css3-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="images/logomono-javascript-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="images/logomono-node-js-mono.png" class="frontEnd-img-lg" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperThree">
    <div class="row justify-content-end mx-1">
        <div class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-l">
                <h3 class="card-title">UX / UI</h3>
                <hr class="my-4">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">The most popular front end languages, and Frameworks.</p>
                        </li>
                        <li>
                            <p class="card-text">Languages including HTMl, CSS, Javascript, Sass.</p>
                        </li>
                        <li>
                            <p class="card-text">Bootstrap, Semantic, jQuery, and React.js are some examples</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperFour">
    <div class="row mx-1">
        <div class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-r">
                <h3 class="card-title">Back End</h3>
                <hr class="my-4">
                <div class="container-fluid cardContent text-right">
                    <ul class="ideck">
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
