<% include ../partials/header.ejs %>

<div class="ui container mainContainer">
    <div id="banner" class="ui segment">
         <div class="ui huge header"> 
            <h1 class="ui center aligned header dodgerItalicFont headerStyling">Web Development</h1>
            <h4 class="ui center aligned header dodgerTitleFont subHeaderStyling">Made Easy</h4>
         </div>
         <div class="ui container">
            <div class="ui divider dividerStyling"></div>
         </div>
         <div class="ui medium header">
             <div class="ui items">
                 <div class="content">
                    <h5 class="ui center aligned header dodgerFont sloganStyling">
                        <p>The one stop shop for a responsive, professional, and asthetic website.</br>With none of the hassle.</p>
                    </h5>
                     <h6 class="dodgerItalicFont createrStyling">-Jeffrey Taylor</h6>
                 </div>
             </div>
         </div>
    </div>
    <div id="deck" class="ui grid container">
            <div class="ui five wide column cardOne cardPadding">
                <div class="ui column segment">
                    <div class="ui medium header center aligned">
                        <h3 class="ui header dodgerFont">Front End</h3>
                    </div>
                    <div class="ui divider dividerMargin"></div>
                    <div class="content cardTextStyles">
                        <ul>
                            <li>
                                <p class="item">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                            </li>
                            <li>
                                <p class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                            </li>
                            <li>
                                <p class="item">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ui five wide column cardTwo cardPadding"> 
                <div class="ui column segment">
                    <div class="ui medium header center aligned">
                        <h3 class="ui header dodgerFont">Back End</h3>
                    </div>
                    <div class="ui divider dividerMargin"></div>
                    <div class="content cardTextStyles">
                        <ul>
                            <li>
                                <p class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                            </li>
                            <li>
                                <p class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerum quo magnam maiores</p>
                            </li>
                            <li>
                                <p class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis earum iste quisquam in quo asperiores labore, laborum accusantium vero </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ui five wide column cardThree cardPadding">
                <div class="ui column segment">
                    <div class="ui medium header center aligned">
                        <h3 class="ui header dodgerFont">UX/UI</h3>
                    </div>
                    <div class="ui divider dividerMargin"></div>
                    <div class="content cardTextStyles">
                        <ul>
                            <li>
                                <p class="item">Lorem, ipsum dolor sit amet cturorro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                            </li>
                            <li>
                                <p class="item">Loremosam ex dolor quisquam tempore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                            </li>
                            <li>
                                <p class="item">Lorem ipsum dolor sit amet maxime nemo nulla.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
