<% include ../partials/header.ejs %>

<div id="banner" class="container-fluid">
    <div class="jumbotron backgroundColor"> 
        <h1 class="display-4 dodgerItalicFont headerStyling">Web Development</h1>
        <h4 class="lead dodgerTitleFont subHeaderStyling">Made Easy</h4>
        <div class="container">
            <hr class="my-4 dividerSpacing dividerColor">
        </div>
        <p class="sloganStyling">A one stop shop for a responsive, professional, and asthetic looking website.</br>With zero hassle.</p>
    </div>
</div>

<div id="deck" class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="card backgroundColor mr-3 cardSizer">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">Front End</h3>
                <hr class="my-4 dividerColor">
                <ul>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card backgroundColor mx-3 cardSizer">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">UX / UI</h3>
                <hr class="my-4 dividerColor">
                <ul>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card backgroundColor ml-3 cardSizer">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">Back End</h3>
                <hr class="my-4 dividerColor">
                <ul>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi, porro iusto perspiciatis eum reprehenderit dignissimos. Dolorem rem totam ea fugiat unde perspiciatis ratione quis sint nostrum.</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque iure rerpore natus consectetur placeat, esse sequi quis saepe minima quaerat deserunt!</p>
                    </li>
                    <li>
                        <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore, laborum accusantium vero temporibus hic saepe natus corporis mollitia explicabo a maxime nemo nulla.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
