<% include ../partials/header.ejs %>

    <div id="banner" class="container text-center bg-transparent text-uppercase">
        <h4 class="headerStyling">Professional</h4>
        <h1 class="subHeaderStyling">Web Development</h1>
        <p class="sloganStyling">Get a responsive, professional, asthetic website.</br>With zero hassle.</p>
    </div>
</div>
<div id="wrapperTwo">
    <div class="row">
        <div class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-r">
                <h3 class="card-title">Front End</h3>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore et illo eos aliquid debitis dolore ullam sed fugit nobis minima totam facere eum ex repellendus, nulla necessitatibus repudiandae qui tenetur.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-center centerY">
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-html5-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-css3-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-javascript-mono.png" class="frontEnd-img" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperThree">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="mobile" class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box bg-shadow-l">
                    <h3 class="card-title">UX / UI</h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, officiis nisi, amet accusamus iusto quidem ea quo dolore porro voluptatibus fuga obcaecati rem delectus modi? Veritatis nulla totam atque vero.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center centerY">
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-css3-mono.png" class="frontEnd-img" alt="...">
                </div>
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-javascript-mono.png" class="frontEnd-img" alt="...">
                </div>
            </div>
        </div>
        <div id="non-mobile" class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-l">
                <h3 class="card-title">UX / UI</h3>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad doloribus quis, dignissimos, voluptates dolores sed tenetur iure corporis fugiat veniam repellat aspernatur ab vero reiciendis libero nesciunt excepturi laudantium provident!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperFour">
    <div class="row justify-content-center">
        <div class="col-md-6 card text-center bg-transparent">
            <div class="card-body bg-box bg-shadow-r">
                <h3 class="card-title">Back End</h3>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A explicabo laboriosam magnam illum delectus! Distinctio quos temporibus recusandae itaque in fuga dolorum at quod? Velit asperiores sed placeat sapiente repellat!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-center centerY">
                <div class="col-md-3 w-auto">
                    <img src="images/logos/logomono-node-js-mono.png" class="frontEnd-img-lg" alt="...">
                </div>
                <div class="col-md-3 w-auto">
                    <img src="images/logos/mongodb_logo.png" class="frontEnd-img-lg" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
