<% include ../partials/header.ejs %>

    <div id="banner" class="container bg-transparent text-shadow">
        <h4 class="headerStyling">
            D<small>ynamic</small>
        </h4>
        <h1 class="subHeaderStyling">
            D<small>evelopment</small>
        </h1>
        <p class="sloganStyling">
            Endlessly creating and engineering, Dynamically, and professionally
        </p>
    </div>
    <div class="container text-center">
        <img src="images/down-arrow.png" class="downArrow">
    </div>
</div>
<div id="wrapperTwo">
    <div class="fadeLeft">
        <div class="row">
            <div class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box border-radius bg-shadow-r">
                    <h3 class="card-title text-shadow">
                        Aerospace Engineering
                    </h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>
                                Currently Pursuing a degree in Aerospace Engineering at Embry-Riddle Aeronautical University in Daytona Beach Florida. A member of the Experimental Rocket Propulsion Lab (ERPL) at Embry-Riddle, And continuously working on new and exciting personal projects. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center centerY">
                    <!-- accent area -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperThree">
    <div class="fadeRight">
        <div class="row">
            <div class="col-md-6">
                <div id="mobile" class="col-md-6 card text-center bg-transparent">
                    <div class="card-body border-radius bg-box bg-shadow-l">
                        <h3 class="card-title text-shadow">
                            Website Development
                        </h3>
                        <hr class="my-4">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <p>
                                    As a personal interest of mine I have always had an affinity for computers. The hardware and software alike. Web Development was an easy way to immerse myself in both and statisfy my creative desires. I also thought it would be fun to create my own site to act as a collection of my work.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center centerY">
                    <!-- accent area -->
                </div>
            </div>
            <div id="non-mobile" class="col-md-6 card text-center bg-transparent">
                <div class="card-body border-radius bg-box bg-shadow-l">
                    <h3 class="card-title text-shadow">
                        Website Development
                    </h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>
                                As a personal interest of mine I have always had an affinity for computers. The hardware and software alike. Web Development was an easy way to immerse myself in both and statisfy my creative desires. I also thought it would be fun to create my own site to act as a collection of my work.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 bg-box">
                            <!-- accent area -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperFour">
    <div class="fadeLeft">
        <div class="row justify-content-center">
            <div class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box bg-shadow-r">
                    <h3 class="card-title text-shadow">
                        Computer Science
                    </h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-left">
                            <p class="text-center text-uppercase">
                                <large>Raspberry Pi Cluster</large>
                            </p>
                            <p>
                                A cluster computer of six Rasperry Pi 4's used as a 
                                Plex media server.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <a><img src="images/raspberryPi.jpeg" class="port-img"></img></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center centerY">
                        
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
