<% include ../partials/header.ejs %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-11 col-md-6 col-lg-4">
            <div id="banner" class="jumbotron backgroundColor">
                <h1 class="display-4 dodgerItalicFont headerStyling">Web Development</h1>
                <h4 class="lead dodgerTitleFont subHeaderStyling">Made Easy</h4>
                <div class="container">
                    <hr class="my-4 dividerSpacing dividerColor">
                </div>
                <p class="sloganStyling">The place for a responsive, professional, and asthetic looking website.</br>With zero hassle.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-11 col-md-6 col-lg-4 card backgroundColor m-1">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">Front End</h3>
                <hr class="my-4 dividerColor">
                <div class="container">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-4 card backgroundColor m-1">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">UX / UI</h3>
                <hr class="my-4 dividerColor">
                <div class="container">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-4 card backgroundColor m-1">
            <div class="card-body cardTextStyles">
                <h3 class="card-title text-center dodgerItalicFont">Back End</h3>
                <hr class="my-4 dividerColor">
                <div class="container">
                    <ul>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li>
                            <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
