<% include ../partials/header.ejs %>

    <div id="banner" class="container bg-transparent text-shadow">
        <h4 class="headerStyling">Professional</h4>
        <h1 class="subHeaderStyling">Web Development</h1>
        <p class="sloganStyling">Get a beautiful, easy to use website.</br>Exceeding your Expectations.</p>
    </div>
</div>
<div id="wrapperTwo">
    <div class="fadeLeft">
        <div class="row">
            <div class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box bg-shadow-r">
                    <h3 class="card-title text-shadow">Front End</h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>
                                The Front End of Web Development is the bare bones of the web page. This is where the creation of a website all begins. Using HTML (Hyper Text Markup Language) and a little CSS (Cascading Style Sheets), all the information displayed on the website is entered and gets its first round of organization. Here's an example! Mind the movie reference.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-left bg-box">
                            <code>
                                &lt;html lang="en"&gt;<br>
                                &lt;head&gt;<br>
                                    &nbsp&nbsp&nbsp&nbsp&lt;meta charset="UTF-8"&gt;<br>
                                    &nbsp&nbsp&nbsp&nbsp&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;<br>
                                    &nbsp&nbsp&nbsp&nbsp&lt;meta http-equiv="X-UA-Compatible" content="ie=edge"&gt;<br>
                                    &nbsp&nbsp&nbsp&nbsp&lt;title&gt;At the movies!&lt;/title&gt;<br>
                                &lt;/head&gt;<br>
                                &lt;body&gt;<br>
                                    &nbsp&nbsp&nbsp&nbsp&lt;h1&gt;Why are you wearing that stupid man suit?&lt;/h1&gt;<br>
                                &lt;/body&gt;<br>
                                &lt;/html&gt;<br>
                            </code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center centerY">
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-html5-mono.png" class="frontEnd-img" alt="...">
                    </div>
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-css3-mono.png" class="frontEnd-img" alt="...">
                    </div>
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-javascript-mono.png" class="frontEnd-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperThree">
    <div class="fadeRight">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="mobile" class="col-md-6 card text-center bg-transparent">
                    <div class="card-body bg-box bg-shadow-l">
                        <h3 class="card-title text-shadow">UX / UI</h3>
                        <hr class="my-4">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <p>
                                    UX (User Experience) and UI (User Interface) are pretty self explanatory. This is when the CSS and JAVASCRIPT would be hacked and slashed changing the site dramatically. If the Front End was the, "bone", structure. UX/UI would be the muscles that shape and move the site making it a better experience for the user.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center centerY">
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-css3-mono.png" class="frontEnd-img" alt="...">
                    </div>
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-javascript-mono.png" class="frontEnd-img" alt="...">
                    </div>
                </div>
            </div>
            <div id="non-mobile" class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box bg-shadow-l">
                    <h3 class="card-title text-shadow">UX / UI</h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>
                                UX (User Experience) and UI (User Interface) are pretty self explanatory. This is when the CSS and JAVASCRIPT would be hacked and slashed changing the site dramatically. If the Front End was the, "bone", structure. UX/UI would be the muscles that shape and move the site making it a better, more interactive, experience for the user.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 bg-box">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapperFour">
    <div class="fadeLeft">
        <div class="row justify-content-center">
            <div class="col-md-6 card text-center bg-transparent">
                <div class="card-body bg-box bg-shadow-r">
                    <h3 class="card-title text-shadow">Back End</h3>
                    <hr class="my-4">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p>
                                In some sites 90% of whats happeing on the page isn't even visable to the user. The Back End consists of creating the brain that knows where everythings is suppose to be, who everyone is, and makes the site a usable, multi-layered application. Databases entries created and destroyed, Transactions completed, all down to hosting the site. Its all done here, and other then a few circumstances, its completely invisible!
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 bg-box">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center centerY">
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/logomono-node-js-mono.png" class="frontEnd-img-lg" alt="...">
                    </div>
                    <div class="col-md-3 w-auto">
                        <img src="images/logos/mongodb_logo.png" class="frontEnd-img-lg" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
