<% include ../partials/header.ejs %>

<div id="banner" class="container text-center bg-transparent text-uppercase">
    <h4 class="headerStyling mb-0">Professional</h4>
    <h1 class="subHeaderStyling mb-4">Web Development</h1>
    <p class="sloganStyling mb-0">The place for a responsive, professional, asthetic website.</br>With zero hassle.</p>
</div>

<div class="card bg-transparent">
    <div class="card-body cardTextStyles">
        <h3 class="card-title text-center">Front End</h3>
        <hr class="my-4 dividerColor">
        <div class="container">
            <ul>
                <li>
                    <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                </li>
                <li>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card bg-transparent">
    <div class="card-body cardTextStyles">
        <h3 class="card-title text-center">UX / UI</h3>
        <hr class="my-4 dividerColor">
        <div class="container">
            <ul>
                <li>
                    <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                </li>
                <li>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card bg-transparent">
    <div class="card-body cardTextStyles">
        <h3 class="card-title text-center">Back End</h3>
        <hr class="my-4 dividerColor">
        <div class="container">
            <ul>
                <li>
                    <p class="card-text">Lorem, ipsum dolor speriores consequuntur adipisci ex animi</p>
                </li>
                <li>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <p class="card-text">Lorem ipsum dolor sit amet, consect quo asperiores labore</p>
                </li>
            </ul>
        </div>
    </div>
</div>


<% include ../partials/footer.ejs %>
