#banner {
    padding: 10rem 2rem 25rem;
}

.headerStyling {
    font-size: 3.25em;
    margin-bottom: 0;
}

.subHeaderStyling {
    font-size: 4em;
    margin-bottom: 1.5rem;
}

.sloganStyling {
    font-size: 1em;
    margin-bottom: 0;
}

.card {
    margin: 1rem 1rem;
}

.ideck li {
    padding: 5px 0px;
}

.cardContent {
    width: 75%;
    padding: 1rem 0;
}

.row .card {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    #banner {
        padding: 10rem 2rem 20rem;
    }

    .headerStyling {
        font-size: 1.75em;
        margin-bottom: 0;
    }
    
    .subHeaderStyling {
        font-size: 2.5em;
        margin-bottom: 1.5rem;
    }
    
    .sloganStyling {
        font-size: .75em;
        margin-bottom: 0;
    }

    .row .card {
        width: 100%;
    }

    .cardContent {
        width: 100%;
        padding: 1rem 0;
    }
}