html {
    display: flex;
    height: 100%;
}

body {
    color: black;
    height: 100%;
    width: 100%;
    font-family: 'Play', sans-serif;
    background-color: #8ccac7;
    /* background-image: url("/images/plane.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}

form {
    font-family: 'Play', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.226)!important;
}

button:hover {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.226)!important;
}

input:hover {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.226)!important;
}

.logout:hover {
    color: #000000;
    background-color: rgb(255, 61, 78);
}

.contentHeight {
    min-height: 100%;
}

.borderOne {
    border: 1px solid #7e7e7e!important;
}

nav li {
    border: 1px solid #525252;
    border-radius: .25rem;
}

#navStyles {
    font-family: 'Play', sans-serif;
    background-color: rgba(99, 99, 99, 0.397);
}

.nav-btn {
    background-color: rgba(255, 255, 255, 0.808);
}

.hoverStyle {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.226)!important;
}

.flash-success {
    color: #000000;
    background-color: rgba(43, 255, 93, 0.5);
}

.flash-danger {
    color: #000000;
    background-color: rgb(255, 61, 78, 0.5);
}

#banner {
    text-align: center;
    margin-top: 1rem;
}

.headerStyling {
    font-size: 40px !important;
}

.subHeaderStyling {
    margin-top: 1em !important;
    font-size: 18px !important;
}

div hr {
    margin: 3em 0em 3em 0em !important;
    border-color: #595959;
}

.sloganStyling {
    margin: 4em 0em 1em 0em !important;
    font-size: 16px !important;
}

#deck {
    width: 80% !important;
}

.backgroundColor {
    background: rgba(255, 255, 255, 0.808)
}

div .card {
    background: rgba(255, 255, 255, 0.808)
}

#contactDeck {
    max-width: 800px;
    margin-top: 50px;
}

.cardTextStyles {
    padding: 2em;
    font-size: 18px;
}

.cardSizer {
    width: 32%;
}

.txt-size-sm {
    font-size: 12px;
}

.mw-20 {
    max-width: 20%;
}

.p-05 {
    padding: .5rem;
}

.p-y-6 {
    padding: 6em 0em 6em 0em;
}

.h-100 {
    height: 100%;
}

label {
    margin-bottom: 0;
}

input {
    margin-bottom: .5em;
}

.loginDropdown {
    position: relative;
}

.loginDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.regDropdown {
    position: relative;
}

.regDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.userDropdown {
    position: relative;
}

.userDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.appForm {
    display: none;
}

.appInfo {
    /* display: none; */
}

@media only screen and (min-width: 992px) {
    .loginDropdown {
        position: relative;
    }
    
    .loginDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -685%;
        z-index: 1000;
        float: left;
        min-width: 25rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    
    .regDropdown {
        position: relative;
    }
    
    .regDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -685%;
        z-index: 1000;
        float: left;
        min-width: 25rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }

    .userDropdown {
        position: relative;
    }
    
    .userDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -141%;
        z-index: 1000;
        float: left;
        min-width: 12rem;
        font-size: 1rem;
        color: #212529;
        text-align: center;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    
}