html {
    display: flex;
    height: 100%;
}

body {
    color: white;
    height: 100%;
    width: 100%;
    font-family: 'Play', sans-serif;
    background-image: url("/images/bg-stars-2560.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form {
    font-family: 'Play', sans-serif;
}

.contentHeight {
    min-height: 100%;
}

nav li {
    border: 1px solid #525252;
    border-radius: .25rem;
}

#navStyles {
    font-family: 'Play', sans-serif;
}

.hoverStyle {
    background-color: rgba(80,80,80,0.5);
}

.flash-success {
    color: #155724;
    background-color: rgba(212,237,218,0.6);
}

.flash-danger {
    color: #721c24;
    background-color: rgba(248,215,218,0.6);
}

#banner {
    text-align: center;
    margin-top: 1rem;
}

.headerStyling {
    font-size: 40px !important;
}

.subHeaderStyling {
    margin-top: 1em !important;
    font-size: 18px !important;
}

div hr {
    margin: 3em 0em 3em 0em !important;
    border-color: #595959;
}

.sloganStyling {
    margin: 4em 0em 1em 0em !important;
    font-size: 16px !important;
}

#deck {
    width: 80% !important;
}

.backgroundColor {
    background: rgba(30, 30, 30, 0.808)
}

div .card {
    background: rgba(30, 30, 30, 0.808)
}

#contactDeck {
    max-width: 800px;
    margin-top: 50px;
}

.cardTextStyles {
    padding: 2em;
    font-size: 18px;
}

.cardSizer {
    width: 32%;
}

.txt-size-sm {
    font-size: 12px;
}

.mw-20 {
    max-width: 20%;
}

.p-05 {
    padding: .5rem;
}

.p-y-6 {
    padding: 6em 0em 6em 0em;
}

.h-100 {
    height: 100%;
}

label {
    margin-bottom: 0;
}

input {
    margin-bottom: .5em;
}

.loginDropdown {
    position: relative;
}

.loginDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.regDropdown {
    position: relative;
}

.regDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.userDropdown {
    position: relative;
}

.userDropMenu {
    position: absolute;
    display: none;
    top: 100%;
    left: -7%;
    z-index: 1000;
    float: left;
    min-width: 25rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.appForm {
    display: none;
}

@media only screen and (min-width: 992px) {
    .loginDropdown {
        position: relative;
    }
    
    .loginDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -610%;
        z-index: 1000;
        float: left;
        min-width: 25rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    
    .regDropdown {
        position: relative;
    }
    
    .regDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -610%;
        z-index: 1000;
        float: left;
        min-width: 25rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }

    .userDropdown {
        position: relative;
    }
    
    .userDropMenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -115%;
        z-index: 1000;
        float: left;
        min-width: 12rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: center;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    
}