<% include ../partials/header.ejs %>
    
    <div class="slideLeft">
        <div class="row aboutMission">
            <div class="col-md-6">
                <div class="container text-shadow">
                    <h1>M<small>ission</small></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slideLeft">
        <div class="row aboutContent">
            <div class="col-md-6">
                <div class="container text-shadow-light bg-box-light p-4">
                    <p>
                        <strong>Our</strong> goal is too deliver a site or application that exceeds your expectations. Whether creating
                        a static webpage, or a multi layered site with a database and individual users. its all the same.
                    </p>
                </div>
            </div> 
        </div>
    </div>
    <div class="slideRight">
        <div class="row aboutMe">
            <div class="col-md-6">
                <div class="container text-shadow">
                    <h1>A<small>bout me</small></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slideRight">
        <div class="row aboutContent">
            <div class="col-md-6">
                <div class="container text-shadow-light bg-box-light p-4">
                    <p>
                        <strong>I</strong> am a self taught web developer and US Army veteran. I have always had a fascination for technology. 
                         I have always kept myself current on new advancements and discovery's within the tech world. I do the same for web 
                         developemnt in order to deliver a fast and easy use application. I pride myself in my work and strive to deliver a product 
                         that my clients will love.
                    </p>
                </div>
            </div> 
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>