<% include ../partials/header.ejs %>

    <div class="container about-box text-uppercase">
        <div class="container about-title">
            <h1>about jmt web development</h1> 
        </div>
        <div class="container about-body bg-box">
            <p>
                <strong>jmt</strong> will deliver an application that exceeds the expectations of the customer.
                A simple static webpage, or a multi layered site with individual users. its all the same.
            </p>
        </div>
    </div>
    <div class="container about-box text-uppercase">
        <div class="container about-title">
            <h1>about me</h1> 
        </div>
        <div class="container about-body bg-box">
            <p>
                my name is jeff. I am 24 years old, and i live in upstate new york. I served in the us army for 5 years as a blackhawk helicopter mechanic and started web development as 
                a hobby during that time. I am currently in school persuing my degree in software engineering at embry-riddle aeronautical university. I have 
                always had an infactuation with computers and programming. web development for me gives a certain satisfaction when building a project 
                from start to finish. I hope to continue devloping for as long as possible. I am continuously learning and reaserching new methods and strategies
                for development to ensure you, the customer, get the exquisite site that you are hoping for.
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>