<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron bg-transparent border rounded-0 align-center">
        <p>
            <strong>Hi</strong>!<br>
            First I would like to thank you for taking the time to look at my portfolio site. My name is Jeffrey Taylor, Jeff for short, and I am a up and coming
            full stack web developer. I have attended multiple classes and bootcamps to learn the in's and out's of creating and publishing amazing, professional
            websites. I am still always learning new methods and stratagies to keep current with the technolgy and practices as they advance.
        </p>
        <p>
            A little background of myself. I am 24 years old, I served in the United States Army for 4 years as a UH-60 Helicopter Mechanic before starting to 
            pursue my degree in Software Engineering at Embry-Riddle Aeronautical University. I do web development as my primary job while in school and over 
            the summer.
        </p>
    </div>
</div>

<% include ../partials/footer.ejs %>