<% include ../partials/header.ejs %>
    <div class="slideLeft">
        <div class="row aboutTitle">
            <div class="col-md-6">
                <div class="container text-shadow">
                    <h1>jmt web development</h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="slideRight">
        <div class="row aboutContent">
            <div class="col-md-6">
                <div class="container bg-box p-5">
                    <p>
                        <strong>Our</strong> goal is too deliver a site or application that exceeds your expectations. Whether creating
                        a static webpage, or a multi layered site with a database and individual users. its all the same.
                    </p>
                </div>
            </div> 
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>