<% include ../partials/header.ejs %>

  <div class="container-fluid d-flex justify-content-center contentHeight">
        <ul class="list-unstyled">
            <div class="row"> 
                <div class="col-sm-6 py-2">
                    <li>
                      <div class="card backgroundColor" style="width: 18rem;">
                        <img src="images/indexbackground.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-info btn-sm shadow float-right">More info</a>
                        </div>
                      </div>
                    </li>
                </div>
                <div class="col-sm-6 py-2">
                    <li>
                      <div class="card backgroundColor" style="width: 18rem;">
                        <img src="images/indexbackground.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-info btn-sm shadow float-right">More info</a>
                        </div>
                      </div>
                    </li>
                </div>
            </div>
        </ul>
  </div>

<% include ../partials/footer.ejs %>