<% include ../partials/header.ejs %>

  <div id="serviceMenu" class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="row slideUpFast">
          <button class="col-md-10 bg-box">
            <h2>Creation</h2>
          </button>
        </div>
        <div class="row slideUp">
          <button class="col-md-10 bg-box">
            <h2>Maintenance</h2>
          </button>
        </div>
        <div class="row slideUpSlow">
          <button class="col-md-10 bg-box">
            <h2>Management</h2>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <div id="defaultInfo">
          <div class="bg-box bg-shadow-l">
            <div class="infoTitle bg-box">
                <h1>WELCOME</h1>
            </div>
            <div class="infoContent">
              <p>We are always researching and learning to improve performance of services already offered or introduce new services previously not offered click on the service your interested in to learn more</p>
            </div>
            <div class="infoClosing">
              <p>Be sure to follow us on facebook to get notified when new services become available!</p>
              <a href="https://www.facebook.com/JMTWebDev"><img src="images/logos/instantlogosearch-facebook.png" class="fb-logo" alt="..."></a>
            </div>
          </div>
        </div>
        <div id="creationInfo">
          <div class="bg-box bg-shadow-l">
            <div class="infoTitle bg-box">
              <h1>Design & Development</h1>
            </div>
            <div class="infoContent">
              <p>We will sit down and find exactly what you are looking for in your website or web application. Going through what you want functionaly but also how you want it to look, lets be honest looks are pretty important.</p>
            </div>
            <div class="infoClosing">
              <p>contact me through Facebook or Email to schedule a consultation!</p>
            </div>
          </div>
        </div>
        <div id="maintenanceInfo">
            <div class="bg-box bg-shadow-l">
              <div class="infoTitle bg-box">
                <h1>Updating & Debugging</h1>
              </div>
              <div class="infoContent">
                <p>If you have a already existing website that needs a face lift, Or is having some performance issues. We can peform any perfomance debugging and User Interface updates requested</p>
              </div>
              <div class="infoClosing">
                <p>contact me through Facebook or Email to schedule a consultation!</p>
              </div>
            </div>
          </div>
        <div id="managementInfo">
          <div class="bg-box bg-shadow-l">
            <div class="infoTitle bg-box">
              <h1>Data & Hosting</h1>
            </div>
            <div class="infoComingSoon">
              <h1 class="comingSoon">Coming Soon!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<% include ../partials/footer.ejs %>

