<% include ../partials/header.ejs %>

<div class="container-fluid pt-5">
    <ul id="portList" class="list-unstyled">
      <div class="row justify-content-center"> 
        <li class="col-lg-3 p-0 border border-radius">
          <a href="../workdetails/catiaDroneProject">
            <img src="images/Drone_Compact_Render.png" class="port-img" alt="...">
          </a>
          <p class="bg-box text-center m-0">Catia Drone Design</p>
        </li>
        <li class="col-lg-3 p-0 border border-radius">
          <a href="../workdetails/autocrossProject">
            <img src="images/raspberryPi.jpeg" class="port-img" alt="...">
          </a>
          <p class="bg-box text-center m-0">Unibody Amphibious Drone</p>
        </li>
        <li class="col-lg-3 p-0 border border-radius">
          <a href="../workdetails/autocrossProject">
            <img src="images/raspberryPi.jpeg" class="port-img" alt="...">
          </a>
          <p class="bg-box text-center m-0">RaspberryPi Media Server</p>
        </li>
        <li class="col-lg-3 p-0 border border-radius">
          <a href="../workdetails/autocrossProject">
            <img src="images/subaruwrx.jpg" class="port-img" alt="...">
          </a>
          <p class="bg-box text-center m-0">Autocross Project Car</p>
        </li>
      </div>
    </ul>
  </div>
</div>

<% include ../partials/footer.ejs %>