<% include ../partials/header.ejs %>

<div class="container-fluid pt-5">
    <ul id="portList" class="list-unstyled">
      <div class="row justify-content-center"> 
        <li class="col-lg-4 p-0 border border-radius">
          <a href="../workdetails/catiaDroneProject">
            <img src="images/portfolioSite.png" class="port-img" alt="...">
          </a>
          <p class="bg-box text-center m-0">www.jmtdynamic.com</p>
        </li>
      </div>
    </ul>
  </div>
</div>

<% include ../partials/footer.ejs %>