<% include ../partials/header.ejs %>

<div class="container-fluid">
  <ul class="list-unstyled">
    <div class="row d-flex justify-content-center"> 
      <li id="portOne" class="col-lg-4 mr-3 border">
        <img src="images/portfolioSite.png" class="port-img" alt="...">
      </li>
      <li id="portTwo" class="col-lg-4 ml-3 border">
        <img src="images/portfolioSite.png" class="port-img" alt="...">
      </li>
    </div>
  </ul>
</div>

<% include ../partials/footer.ejs %>