<% include ../partials/header.ejs %>

  <div class="container-fluid contentHeight">
        <ul class="list-unstyled">
            <div class="row d-flex justify-content-center"> 
              <li class="col-md-3 py-4 mx-4 mw-25">
                <div class="card backgroundColor shadow-lg">
                  <div class="card-body p-05">
                  <h5 class="card-title text-center m-0">Card title</h5>
                  </div>
                  <img src="images/indexBackground.jpg" class="card-img-top" alt="...">
                  <div class="card-body p-05 d-flex justify-content-center">
                  <a href="#" class="btn btn-info btn-md shadow-sm">More info</a>
                  </div>
                </div>
              </li>
              <li class="col-md-3 py-4 mx-4 mw-25">
                <div class="card backgroundColor shadow-lg">
                  <div class="card-body p-05">
                  <h5 class="card-title text-center m-0">Card title</h5>
                  </div>
                  <img src="images/indexBackground.jpg" class="card-img-top" alt="...">
                  <div class="card-body p-05 d-flex justify-content-center">
                  <a href="#" class="btn btn-info btn-md shadow-sm">More info</a>
                  </div>
                </div>
              </li>
            </div>
        </ul>
  </div>

<% include ../partials/footer.ejs %>